.headerColor {
    background-color: #000324;
}

.headerText {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
    color: white;

}

.headerText2 {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.row1BG {
    background-image: url(../assets/hotelMarkupAssets/header.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
}

.headerBox {
    background-color: #000324;
    opacity: 80%;
    width: 945px;
    height: 232px;
    text-align: center;
}

p {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.navBarFont {
    font-size: 20px;
}

.hamsterParadise {
    font-size: 35px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.row2BG {
    background-image: url(../assets/hotelMarkupAssets/bg2.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
}

.row3BG {
    background-image:url(../assets/hotelMarkupAssets/bg.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
}

.navbar-toggler {
    background-color: rgb(25, 47, 96);
}

/* .navBarSpacing {
    margin-left: 5px;
    margin-right: 5px;
} */

.cardTitle {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.btnColor {
    background-color: #004CC7;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.cardText1 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.cardText2 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
}

.imageFit {
    object-fit: cover;
    object-position: 50% 50%;
    height: 234px;
    width: 100%;
}

.amenitiesText {
    font-weight: bold;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}

.reserveBox {
    background-color: #000324;
    width: 1137px;
    height: auto;
    text-align: center;
    /* margin-right: 7%;
    margin-left: 7%; */
}

.reserveImage {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 414px;
}

.footer {
    background-color: #000324;
}

@media screen and (max-width: 2560px) {
    .navBarFont {
        font-size: 13px;
    }

}

@media screen and (max-width: 1452px){
    .navBarFont {
        font-size: 10px;
    }
}

.nav-link {
    border: 1px solid;
    border-color: transparent;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.borderNav {
    border-color: #E5FEFF;
    color: white;
}

.nav-link:hover {
    border-color: #E5FEFF;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (max-width: 991px){
    .imageFit {
        height: 288px;
    }
}