.headerColor {
    background-color: #000324;
}

.headerText {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
    color: white;
    padding-top: 73px;

}

.headerSpacing {
    margin-left: 5%;
    margin-right: 5%;
}

.headerText2 {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.reserveBorder {
    border: 1px solid;
    border-color: white;
    padding-top: 10%;
    
}

.row1BG {
    background-image: url(../assets/hotelMarkupAssets/header.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
}

.headerBox {
    background-color: #000324;
    opacity: 80%;
    width: 945px;
    height: 232px;
    text-align: center;
}

p {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.navBarFont {
    font-size: 20px;
}

.hamsterParadise {
    font-size: 35px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.row2BG {
    background-image: url(../assets/hotelMarkupAssets/bg2.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255);
}

.navBarSpacing {
    margin-left: 10.5px;
    margin-right: 10.5px;
}

.cardTitle {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.btnColor {
    background-color: #004CC7;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.cardText1 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.cardText2 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
}

.imageFit {
    object-fit: cover;
    object-position: 50% 50%;
    height: auto;
    width: auto;
}